apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: giropops-senhas
  name: {{ .Values.giropopsSenhas.name }} # Usando valor do values.yaml 
spec:
  replicas: {{ .Values.giropopsSenhas.replicas }}
  selector:
    matchLabels:
      app: giropops-senhas
  template:
    metadata:
      labels:
        app: giropops-senhas
    spec:
      containers:
      - image: {{ .Values.giropopsSenhas.image }}
        name: {{ .Values.giropopsSenhas.name }}
        ports:
        - containerPort: 5000
        imagePullPolicy: Always
